@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?wipwv3');
	src:url('fonts/icomoon.eot?#iefixwipwv3') format('embedded-opentype'),
		url('fonts/icomoon.woff?wipwv3') format('woff'),
		url('fonts/icomoon.ttf?wipwv3') format('truetype'),
		url('fonts/icomoon.svg?wipwv3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="fa-"], [class*=" fa-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-solyplaya:before, .fa-sol:before, .fa-sun:before {
	content: "\e60f";
}

.fa-air:before, .fa-aire:before {
	content: "\e613";
}

.fa-parking:before, .fa-estacionamiento:before {
	content: "\e614";
}


.fa-store:before, .fa-tienda:before  {
	content: "\e616";
}

.fa-cultura:before, .fa-culture:before  {
	content: "\e605";
}

.fa-meeting:before, .fa-salon:before  {
	content: "\e617";
}

.fa-laundry:before, .fa-lavanderia:before  {
	content: "\e618";
}

.fa-room:before, .fa-servicio:before  {
	content: "\e619";
}

.fa-terrace:before, .fa-vista:before {
	content: "\e61a";
}

.fa-pool:before, .fa-picina:before  {
	content: "\e61b";
}

.fa-boat:before, .fa-paseos:before  {
	content: "\e61c";
}

.fa-gastronomia:before, .fa-gastronomy:before  {
	content: "\e608";
}

.fa-culturas:before, .fa-living:before {
	content: "\e615";
}

.fa-arqueologia:before, .fa-archeology:before {
	content: "\e600";
}

.fa-naturaleza:before, .fa-nature:before {
	content: "\e60d";
}

.fa-aventura:before, .fa-adventure:before  {
	content: "\e601";
}

.fa-aviturismo:before, .fa-birding:before {
	content: "\e602";
}

.fa-buceo:before, .fa-diving:before {
	content: "\e603";
}

.fa-bar:before {
	content: "\e612";
}

.fa-wifi:before {
	content: "\e61d";
}

.fa-conquien:before {
	content: "\e604";
}

.fa-destinos:before {
	content: "\e606";
}

.fa-explora:before {
	content: "\e607";
}

.fa-hoteles:before {
	content: "\e609";
}

.fa-informacion:before {
	content: "\e60a";
}

.fa-media:before {
	content: "\e60b";
}

.fa-mosquitia:before {
	content: "\e60c";
}

.fa-restaurantes:before {
	content: "\e60e";
}

.fa-tours:before {
	content: "\e610";
}

.fa-transporte:before {
	content: "\e611";
}

.fa-file-text:before {
	content: "\e926";
}

.fa-compass2:before {
	content: "\e94a";
}

.fa-calendar:before {
	content: "\e953";
}

.fa-user:before {
	content: "\e971";
}

.fa-quotes-left:before {
	content: "\e977";
}

.fa-quotes-right:before {
	content: "\e978";
}

.fa-cogs:before {
	content: "\e995";
}

.fa-list:before {
	content: "\e9bb";
}

.fa-menu:before {
	content: "\e9bd";
}

.fa-cross:before {
	content: "\ea0f";
}

.fa-checkmark:before {
	content: "\ea10";
}

.fa-checkmark2:before {
	content: "\ea11";
}

.fa-arrow-up-left:before {
	content: "\ea39";
}

.fa-arrow-up:before {
	content: "\ea3a";
}

.fa-arrow-up-right:before {
	content: "\ea3b";
}

.fa-arrow-right:before {
	content: "\ea3c";
}

.fa-arrow-down-right:before {
	content: "\ea3d";
}

.fa-arrow-down:before {
	content: "\ea3e";
}

.fa-arrow-down-left:before {
	content: "\ea3f";
}

.fa-arrow-left:before {
	content: "\ea40";
}

.fa-circle-up:before {
	content: "\ea41";
}

.fa-circle-right:before {
	content: "\ea42";
}

.fa-circle-down:before {
	content: "\ea43";
}

.fa-circle-left:before {
	content: "\ea44";
}

.fa-google-plus:before {
	content: "\ea8a";
}

.fa-facebook:before {
	content: "\ea8d";
}

.fa-instagram:before {
	content: "\ea90";
}

.fa-twitter:before {
	content: "\ea91";
}

.fa-feed:before {
	content: "\ea94";
}

.fa-youtube:before {
	content: "\ea98";
}

.fa-youtube2:before {
	content: "\ea99";
}

.fa-youtube3:before {
	content: "\ea9a";
}

.fa-vimeo:before {
	content: "\ea9c";
}

.fa-picassa:before {
	content: "\eaa4";
}

.fa-github:before {
	content: "\eab1";
}

.fa-pinterest:before {
	content: "\ead0";
}

.fa-paypal:before {
	content: "\ead6";
}

.fa-file-pdf:before {
	content: "\eada";
}

.fa-file-openoffice:before {
	content: "\eadb";
}

.fa-file-word:before {
	content: "\eadc";
}

.fa-file-excel:before {
	content: "\eadd";
}

